html,
body{height:100%;
	margin:0;
	padding:0;}

@font-face {
    font-family:'OpenSans';
    src: url('fonts/OpenSans/Bold/OpenSans-Bold-webfont.eot');
    src: url('fonts/OpenSans/Bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans/Bold/OpenSans-Bold-webfont.woff') format('woff'),
         url('fonts/OpenSans/Bold/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans/Bold/OpenSans-Bold-webfont.svg#open_sansregular') format('svg');
    font-weight:700; /* Bold */
    font-style:normal;
	}


.textepagecommun{color:white; /*on met ici en forme la base commune des textes des différentes pages*/
				font-size:17px;
				font-family: 'OpenSans',arial,sans-serif;
				font-weight: 700;
				text-shadow: 0 0 10px #000}

a:{color:white;
	font-weight: 700;
	}
/*mise en forme commune des différents liens du site*/
a:visited {color:white; 
			font-weight: 700;
			}


/*---------PAGE 1--------------------------------------------------------------------------------------*/



.textepage1{font-size: 30px;
			margin-left:60px;
			margin-top: 100px;
			position: absolute;

			}



.fondpage1{height: 100%;
		width:100%;
		background-image: url('images/fondpage1.png');
		color:black;
		font-family: 'OpenSans',arial,sans-serif;
		font-weight: 700;
		padding-top: 200px;
		padding-left: 150px;
		font-size: 0px;
		}

.buvard{height: 65px;
		width:65px;
		float:right;
		margin-top: 300px;
		margin-right:150px;
		background-image: url('images/buvard.png');
		}
.buvard:hover + .fondpage1 {
    background-image: url('images/fondhoverpage1.png');/*Le fond change de couleur lorsqu'on passe la souris sur le buvard*/
	font-size: 60px;
	} 



/*---------PAGE 2--------------------------------------------------------------------------------------*/

#page2{background-image: url('images/fondpage2.gif'); /*style global du body de la page 2*/
		padding-top: 200px;}

.textepage2{height: 200px;
		width:400px;
		margin:auto;
		font-size: 20px
		}


.oeil{height: 100px;
		width:400px;
		margin:auto;
		padding: 100px;
		background-image: url('images/oeil.png');
		background-repeat: no-repeat;
		color:white;
		text-decoration: none;
		font-size:0px;
		font-family: 'OpenSans',arial,sans-serif;
		font-weight: 400;
		}

.oeil:hover {
		transform: scale(0.5,0.5);                      /*Au survol l'oeil change de taille*/
		background-image: url('images/oeil2.png');      /*et d'image de fond*/
		font-size: 40px;
		text-shadow: 0 0 10px #000
	}



/*---------PAGE(S) 3--------------------------------------------------------------------------------------*/


#page3{background-color: black;
		padding-top: 300px;}

#page3bis{background-image: url('images/fondpage3.gif');
		padding-top: 200px;}


.personnage{height:100px;
			width:100px;
			background-image: url('images/personnage.png');
			margin:auto;
			margin-top: 600px;
			margin-bottom: 100px;
			opacity: 0.20;
   			transition: opacity .25s ease-in-out;
   			-moz-transition: opacity .25s ease-in-out;
   			-webkit-transition: opacity .25s ease-in-out; /*animation d'opacité au survol*/
			}


.personnage:hover{opacity:1;
				 }

.textepage3{height: 300px;
		width:300px;
		margin-left:150px;
		margin-top: 150px;
		}

.tailletexte{font-size: 12px}





/*---------PAGE 4--------------------------------------------------------------------------------------*/


#page4{background-color:#fde7db;/*blanc cassé rose*/
		padding-top: 10px;
		}



#global{width:900px;
		margin: auto;
		margin-bottom: 10px}

#article{width:900px;}

.paragraphe{height:400px;
			width:200px;
			float:left;
			font-family: times;
			font-size: 12px;
			margin: 5px;
			}

.commodore{width:400px;}


.paragraphe2{
			width:850px;
			height:250px;
			}

h1{font-family: times;
   font-size:70px;
   font-weight: bold;
   margin: auto;
   margin-bottom: 20px;
   color: #111110;/*gris foncé*/
    }

p.style1{font-family: times; /*Mise en page du paragraphe caché*/
			font-size: 12px;
			margin: 5px;}

p.style1:hover{font-size: 15px;
	font-weight: bold;
	background-color: #ffd24a; /*jaune*/
	}

.circuits{height:172px;
		width:350px;
		background-image: url("images/circuits.png");
		display: inline-block;
		}
/*l'image de circuits a une ombre au survol*/
.circuits:hover { -moz-box-shadow: 0 0 30px #5a3432;  
				-webkit-box-shadow: 0 0 30px #5a3432; /*brun*/
				box-shadow: 0 0 30px #5a3432; 
				}




/*---------PAGE(S) 5--------------------------------------------------------------------------------------*/

#page5{background-image: url('images/fondpage1.png');}

#page5bis{background-image: url('images/fondpage5.gif');}

.textepage5{height: 200px;
		width:300px;
		float: right;
		margin-right:150px;
		margin-top: 30%;
		font-size: 18px;
		}

.textepage5:hover{background-color: black;
	}

.textepage5bis{height: 100px;
		width:100px;
		float: right;
		margin-right:150px;
		margin-top: 500px;
		font-size: 12px;
		}


